<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{recipe.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="recipe.imageUrl" style="width: 100%;" />
  <ion-card-header class="ion-text-center">
    <ion-card-title>{{recipe.name}}</ion-card-title>
    <ion-card-subtitle>Ingredients</ion-card-subtitle>
  </ion-card-header>
  <ion-list *ngFor="let ingredient of recipe.ingredients">
    <ion-item>
      <ion-label>{{ingredient}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-card-header class="ion-text-center">
    <ion-card-subtitle>Instructions</ion-card-subtitle>
  </ion-card-header>
  <ion-list *ngFor="let instruction of recipe.instructions">
    <ion-item>
      <ion-label>{{instruction}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="danger" (click)="rs.removeRecipeById(recipe.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" [routerLink]="['../../edit', recipe.id]">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>